body{
	padding-top: 50px;
	background-color: #F0F0F0;
}
.navbar-inverse{
	background-color: #002277;
	border-color: #001854;
}
.navbar-inverse .navbar-brand{
	color: #EFC310;
}
.navbar-inverse .navbar-brand:hover{
	color: #FAD53E;
}
.nav.navbar-nav.pull-right>li>a:hover{
	background-color: #0E338F;
}
.job_listing{
	border: 1px solid silver;
	padding: 8px 16px;
	margin-bottom: 8px;
	background-color: #F6F6F6;
}
.footer{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

/* login */
.login_container{
	width: 500px;
	margin: auto;
}
.login_container h1{
}
.login_box{
	border: 1px solid silver;
	padding: 16px 25px;
	margin-bottom: 8px;
	background-color: #F6F6F6;
}
.login_box input{
	width: 300px;
}
.login_box input.login_button{
	width: 150px;
	height: 2.25em;
}

/* account */
.account_container{
	width: 500px;
	margin: auto;
}
.account_container h1{
}
.account_box{
	border: 1px solid silver;
	padding: 16px 25px;
	margin-bottom: 8px;
	background-color: #F6F6F6;
}
.account_box input{
	width: 300px;
	margin-bottom: 12px;
}
.account_box input.account_button{
	width: 200px;
	height: 2.25em;
}

/* listing */
.listing_container{
	width: 600px;
	margin: auto;
}
.listing_container h1{
}
.listing_box{
	border: 1px solid silver;
	padding: 16px 25px;
	margin-bottom: 8px;
	background-color: #F6F6F6;
}
.listing_container .col1{
	width: 30%;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	vertical-align: top;
}
.listing_container .col1 label{
	line-height: 28px;
}
.listing_container .col2{
	width: 65%;
	display: inline-block;
}
.listing_container .col2 input{
	width: 100%;
	height: 27px;
	margin-top: 2px;
	margin-bottom: 4px;
}
.listing_container .col2 input.create_button{
	width: 75%;
	height: 2.25em;
}